@using AlgoritmWeb.Controllers

    <table style="float: left" width="40%">
        <tr><th>Параметры</th><th>Информация</th></tr>
   <tr border="1">
            <td valign="top">
            @{
                if (AddOrganization.OrganizationsList.Count != 0 && !AddOrganization.err)
                {
                    await Html.RenderPartialAsync("/Views/Token/Data.cshtml");
                    await Html.RenderPartialAsync("/Views/Token/TID.cshtml");
                }
                else if (AddOrganization.err)
                {
                    await Html.RenderPartialAsync("/Views/WorkSpace/ErrorToken.cshtml");
                }
                else if (AddOrganization.OrganizationsList.Count == 0 && !AddOrganization.err)
                {
                    <p>В базе данных нет организаций, добавьте через главное меню</p>
                }
                
                AddOrganization.err = false;
            }
        </td>
            <td align="left">
@if (WorkSpaceController.terminal != string.Empty)
                {
                foreach (var orgItem in AddOrganization.OrganizationsList)
                    {
                        if (orgItem.id == WorkSpaceController.terminal)
                        {
                            <p>ID организации: @orgItem.id</p>
                            <p>Версия iiko: @orgItem.version</p>
                            <p>ИНН: @orgItem.inn</p>
                            <p>В облаке iiko: @orgItem.isCloud</p>
                            <p>Широта: @orgItem.latitude</p>
                            <p>Долгота: @orgItem.longitude</p>
                        }
                    }
                }
            </td>
   </tr>
</table>
    @{
        await Html.RenderPartialAsync("/Views/WorkSpace/TreeView.cshtml");
    }

 
